name: Auto Commit Every 1 Minute

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 * * * *"

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update timestamp
        run: echo "Last Update: $(date '+%Y-%m-%d %H:%M:%S IST')" > update.txt

      - name: Commit & Push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add update.txt
          git commit -m "Auto commit at $(date '+%H:%M:%S IST')" || exit 0
          git push
