name: Auto Commit Every 1 Minute

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 * * * *"

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "sanjeevpatel18921@gmail.com"

      - name: Update timestamp
        run: |
          echo "Last Update: $(date '+%Y-%m-%d %H:%M:%S IST')" > update.txt

      - name: Commit changes
        run: |
          git add update.txt
          git commit -m "Auto commit at $(date '+%H:%M:%S IST')" || exit 0

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
